*.h5
*.ipynb
*.log
*.npy
*.npz
*.obj
*.pickle
*.pkl
*.png
*.ser
*.so
*.svg
*/.ipynb_checkpoints/
.idea/
.vscode/
CMakeLists\.txt\.user
Untitled-1.nb
\.ipynb_checkpoints/
__pycache__/
debug/
build/
bin*/
build_*/
buildd/
buildp
buildr/
external/
log/
python/*.html
python/*.msh
python/Untitled.ipynb
python/data/
temp-plot.html
tests/data/
visualize/*.mesh
visualize/*.msh
visualize/*.ply
visualize/data
visualize/ff/
python/curve/spherewl/
.cache/
*build*
*.code-workspace